<h1>MoodyTunes</h1>
<hr>

<% if @current_user.present? %>
    <!-- <h2>Select your Mood!!</h2> -->
    <div id="mood_list">
      <ul>
        <li><%= link_to('Happy', '/moods/happy') %></li>
        <li><%= link_to('Sad', '/moods/sad') %></li>
        <li><%= link_to('Rage', '/moods/rage') %></li>
        <li><%= link_to('Anger', '/moods/anger') %></li>
        <li><%= link_to('Hysteria', '/moods/hysteria') %></li>
        <li><%= link_to('Boredom', '/moods/boredom') %></li>
        <li><%= link_to('Pensive', '/moods/pensive') %></li>
        <li><%= link_to('Melancholy', '/moods/melancholy') %></li>
        <li><%= link_to('Elated', '/moods/elated') %></li>
        <li><%= link_to('Tired', '/moods/tired') %></li>
        <li><%= link_to('Frustrated', '/moods/fustrated') %></li>
        <li><%= link_to('Party', '/moods/party') %></li>
        <li><%= link_to('Hateful', '/moods/hateful') %></li>
        <li><%= link_to('Drunk', '/moods/drunk') %></li>
        <li><%= link_to('High', '/moods/high') %></li>
        <li><%= link_to('Relaxed', '/moods/relaxed') %></li>
      </ul>
    </div>
<% else %>
    <h2><%= link_to("Please Sign in to continue..", user_login_path) %></h2>
    <hr>
<% end %>